body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form-container, .resume-container {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #b89400;
    width: 100%;
    max-width: 800px;
    margin: 10px;
}

h1, h2 {
    color: #b89400;
}


label {
    display: block;
    margin-top: 10px;
    color: #b89400;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background: #2a2a2a;
    color: #e0e0e0;
}

button {
    display: block;
    width: 30%;
    padding: 12px;
    background-color: #b89400;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
}

button:hover {
    background-color: #b89400;
}

button:focus {
    outline: none;
    
}

#resume {
    margin-top: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #b89400;
    margin-bottom: 20px;
}

a {
    
    color: #e0e0e0;
    font-size: x-large;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .form-container, .resume-container {
        width: 100%;
        margin: 5px 0;
        padding: 15px;
    }

    button {
        font-size: 20px;
        padding: 10px;
        width: 60%;
        
    }

    .profile-picture {
        width: 120px;
        height: 120px;
    }
}